@import 'coloresyletras';



@media only screen and (min-width:700px) {
  
// --------------ESTILOS MENU-----------------------------------------------------------------------

header{
      
    width: 100%;
    position: fixed;
    height: 90px;


.menu{ 
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
  width: 100%;
  height: 100%;
   
   .contenedor1{
display: flex;
justify-content:center;
align-items: center;
width: auto;
height: 100%;
margin-left: 10.83%;


                                img {
                                width: 59.1px ;
                                height: 59.1px ;
                                margin-left:0px;
                                

                                }

                                
                                .burger{
                                display: none;
                                    
                                }
                                
                }
     
       ul{ position: relative;
           
           width: 60%;
           height: 100%;
           background:none;    
           margin-top: 0px ;    
           display: flex;
           flex-direction: row;
           align-items: center;
           justify-content: flex-end;
          
            
           .raya {
              display: none;
               
           }
           .primerli{
               margin-top: 0px;

           }
           #mododiur{
               display: none;
           }
               li{
               
               display: flex;
               justify-content: center;
               align-items: center;
               width: auto;
               height: 100%;
               margin-left: 50px;

               button{
                width: 100%;
                text-decoration: none;
                font-family: $letra-principal;
                font-size: 13px;
                color: $color-principal;
                text-align: center;
                line-height: 60px;
                border:none;
                cursor: pointer;

                }

          a{ width: 100%;
              text-decoration: none;
              font-family: $letra-principal;
              color: $color-principal;
              font-size: 13px;
              color: #572EE5;
              letter-spacing: 0;
              text-align: center;
              height: auto;
             
          }

       }      
   }
   
   .creargifo{
       display: block;
       margin-right: 10.83%;
       height: 54px;
       width: 54px;
       
   }

   }
}   
// --------------FIN    ESTILOS    MENU-------------------------------------------------------

// --------------estilos PRINCIPAL (INSPIRATE)-------------------------------------------------------

.principal{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 171px;

    .inspirate{
        display: none;
    }

    .inspirate2{
        display: block;
        margin-bottom:24px;
       font-family: $letra-principal;
       font-weight: bold;
       font-size: 35px;
       color: $color-principal;
       text-align: center;
       line-height: 50px;
             span{
                   color:  #5dc1b9;
                 }
               }

        img{
            width: 399px;
            height: 190px;
        }       

 
        .trending{
            display: none;
        }
        .trending2 {
            display: block;
            margin-top: 73px;
            margin-bottom: 95px;
           font-family: $letra-secundaria;
           font-size: 16px;
           color: #572EE5;
           text-align: center;
           line-height: 25px;
           span{
               font-family:$letra-principal;
                font-weight: bold;
                font-size: 18px;
               color: #572EE5;
               text-align: center;
               line-height: 25px;
           }

        }
// --------------------input
    .divinput{ 
        width: 551px;
        .lupa{
            width: 20px;
            height: 20px;
            position: absolute;
            margin-left: 490px;
            margin-top: 15px;
    
            }
            .equis{
                display: none;
                width: 20px;
                height: 20px;
                position: absolute;
                margin-left: 490px;
                margin-top: 15px;
            }
    
            input {
                width: 551px;
                height: 50px;
                background: #FFFFFF;
                border: 1px solid #572EE5;
                border-radius: 27px;
                border-radius: 27px;
         
                 }   
            input::placeholder{
                font-family: $letra-principal;
                font-size: 16px;
                text-align: center;
                
            }
            input[type="text"] {
                    text-align: center;
                    font-family: $letra-principal;
                    font-size: 16px;
                    color: #000000;
                    text-align: left;
            }
           
             
            }
            // grid-template-columns:  260px 260px 260px 260p;
    
            // column-gap: 28px;
            // row-gap: 28px;
// --------------------grillas

.cont-busqueda{
    display: grid;
    grid-template-columns: 260px 260px 260px 260px;
   column-gap: 28px;
   row-gap: 28px;
   max-height: 684;
   overflow: hidden;
   .contenedor-gif-hover{
       position: relative;  
       width: 260px;
       height: 200px;
       display: flex;
   .gifbuscado{
       width: 260px;
       height: 200px;
   }
          
  .hover{
   position: absolute;
   width: 100%;
   height: 100%;
   opacity: 0;
   background: #572EE5;
          
   .divicons{
       display: flex;
      width: auto;
       margin-left: 30%;
       margin-top: 5px;
       align-items: center
        ;
      
       .icon{
           width: 30px;
           height: 30px;
           margin-left: 7px;
           cursor: pointer;

       }
       .iconfavactive{
           cursor: pointer;
           width: 30px;
           height: 30px;
           background: #FFFFFF;
           opacity: 1;   
           display: none;
       }

       .iconfav:hover{
           content: url(images/icon-fav-hover.svg);
           cursor: pointer;
       }
       .icondownload:hover{
           content: url(images/icon-download-hover.svg);
           cursor: pointer;

       }
       .iconmax:hover{
           content: url(images/icon-max-hover.svg);
           cursor: pointer;
       }
   }
  }
}

.hover:hover{
   opacity: 0.7;
}
.titulogif{
font-size: 20px;
margin-top: 20px;
font-family: $letra-3;
color: #FFFFFF;
margin-left: 7px;
}
    }
    

    .divtitulo{
      

        .titulobusqueda{
           
           font-size: 35px;
           
        }
    }
   
}

// -----------------------FIN PRINCIPAL--------------------------------------------------------




// -----------------------PAGINA FAVORITOS y MaS GIFOS--------------------------------------------------------

.favoritos{
    .imagen-fav-sin-contenido{
        height: 150px;
        width: 150px;
        margin-top:100px;
    }

    .texto-sin-contenido{
        font-family: $letra-principal;
        font-size: 22px;
        color: #50E3C2;
        text-align: center;
        line-height: 33px;
        margin-top: 20px;
        margin-bottom: 130px;
        font-weight: bold;
    }
     .contenidofav{
        display: grid;
        grid-template-columns:  260px 260px 260px 260px;
        max-height: 656px;
        overflow: hidden;
       column-gap: 28px;
       row-gap: 28px;
       
       .cont-gifstyle{
        position: relative;
         
        width: 260px;
       height: 200px;
         display: flex;

         
       
   .gifstylefav{
        
    width: 260px;
    height: 200px; 
   }
   
  
   
   .hover{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #572EE5;
    


    

    .divicons{
        display: flex;
       width: auto;
        margin-left: 30%;
        margin-top: 5px;
        align-items: center
         ;
       
        .icon{
            width: 30px;
            height: 30px;
            margin-left: 7px;
            cursor: pointer;

        }
        .iconfavactive{
            cursor: pointer;
            width: 30px;
            height: 30px;
            background: #FFFFFF;
            opacity: 1;
            
            
        }

        .iconfav:hover{
            content: url(images/icon-fav-hover.svg);
            cursor: pointer;
        }
        .icondownload:hover{
            content: url(images/icon-download-hover.svg);
            cursor: pointer;

        }
        .iconmax:hover{
            content: url(images/icon-max-hover.svg);
            cursor: pointer;
        }
    }
   }
}
     }
    
}

// -----------------------FIN PAGINA FAVORITOS y MaS GIFOS--------------------------------------------------------


// -----------------------TRENDING GIFOS--------------------------------------------------------


.trending-gifos{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F3F5F8;
    height: 640px;
    h1{
        margin-top: 67px;
        font-family:$letra-principal;
       font-size: 25px;
       color: #572EE5;
       text-align: center;
       line-height: 30px;
       margin-bottom: 12px;

    }
    .titulo2 {
       text-align: center;
       font-family: $letra-3;
       font-weight: normal;
       font-size: 18px;
       color: #000000;
       text-align: center;
       line-height: 23px;
       margin-bottom: 53px;
       display: block;
       
    }
    .titulo1{
        display: none;

    }

.contenedorgaleria{ 
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 182px ;
    .flecharight{
        display: block;
width: 40px;
height: 40px;
margin-right: 6.52%;
margin-left: 22px;
    }
    .flechaleft{
        display: block;
       
        width: 40px;
        height: 40px;
        margin-left: 6.52%;
        margin-right: 22px;
       

    }
//    -------------------------galeria gifs y hover------------------------------
.galeria{
height: 275px;
width: 78.26%;
margin-bottom: 0px;
overflow-x: hidden;
display: flex;
overflow-y: hidden;

        
           
                        
    .cont-gifstyle{
                position: relative;
                margin-left: 22px;
                width: auto;
                height: auto;
                display: flex;
        
                        .gifstyle{
                            
                            height: 275px;
                            width: auto;
                                 }
                        .hover{
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            opacity: 0;
                            background: #572EE5;
                            
                            
                                 .divicons  {
                                        margin-left: 53%;
                                        margin-top: 5px;
                                         .icon{
                                             margin-left: 7px;
                                              }
                                            }
                        

                             }
                        
                    }
                             .hover:hover   {
                                 opacity: 0.7;
                                            }
        .titulogif{
                font-size: 18px;
                margin-top: 128px;
                font-family: $letra-3;
                color: #FFFFFF;
                margin-left: 7px;
                  }
         
        }
//    -------------------------galeria gifs y hover------------------------------
    
}//<-------------------cierre contenedor galeria
}//<-------------------cierre trending gifos

// -----------------------FIN TRENDING GIFOS--------------------------------------------------------



// -----------------------COMIENZO FOOTER--------------------------------------------------------


footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 116px;
    width: 100%;
    

    

    .compartiren{
       font-family: $letra-3;
       margin-top: 0px;
       font-size: 13px;
       color: #000000;
       letter-spacing: 0;
       margin-left: 10.83%;
       text-align: center;

    }
    .iconosredes{
        width: 92px;
        margin-top: 0px; 
       text-decoration: none;
       display: flex;
       justify-content: space-between;
       margin-left: 17px;
      a {
      color: gray;
      }
    
    }


    .derechos{
        margin-top: 0px;
       font-family: $letra-3;
       font-size: 13px;
       color: #000000;
       letter-spacing: 0;
       line-height: 20px;
       margin-bottom: 0px ;
       margin-left: 50%;
       text-align: center;
    }
}

// -----------------------FIN FOOTER--------------------------------------------------------





}  //<-------cierre @media



