* {
  margin: 0;
  padding: 0;
}

body {
  height: auto;
  width: 100%;
  border: 1px solid #FFFFFF;
}

header {
  width: 100%;
  position: fixed;
  z-index: 100;
}

header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .menu .contenedor1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 95px;
}

header .menu .contenedor1 img {
  width: 48.8px;
  height: 48.8px;
  margin-left: 5.86%;
  margin-bottom: 17.2px;
  margin-top: 34px;
  cursor: pointer;
}

header .menu .contenedor1 .burger {
  width: 15px;
  height: auto;
  margin-right: 26px;
}

header .menu .contenedor1 .x {
  display: none;
  width: 45px;
  height: 45px;
  margin-right: 15px;
  cursor: pointer;
}

header .menu ul {
  position: fixed;
  -ms-flex-item-align: center;
      align-self: center;
  list-style: none;
  width: 100%;
  height: 100%;
  background: rgba(87, 46, 229, 0.9);
  margin-top: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

header .menu ul .raya {
  width: 41px;
  height: 0.001px;
  opacity: 0.5;
  border: 1px solid #FFFFFF;
  margin-left: 44.53%;
}

header .menu ul .primerli {
  margin-top: 17px;
}

header .menu ul #mododiur {
  display: none;
}

header .menu ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 60px;
}

header .menu ul li button {
  width: 100%;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: #FFFFFF;
  text-align: center;
  line-height: 60px;
  border: none;
  background: none;
  cursor: pointer;
  font-weight: bold;
}

header .menu ul li a {
  width: 100%;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: #FFFFFF;
  text-align: center;
  line-height: 60px;
  font-weight: bold;
}

header .menu ul li a .gris {
  color: gray;
}

header .menu .creargifo {
  display: none;
}

.principal {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 102px;
}

.principal .inspirate {
  margin-bottom: 31px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 25px;
  color: #572EE5;
  text-align: center;
  line-height: 33px;
}

.principal .inspirate span {
  color: #5dc1b9;
}

.principal img {
  width: 72.8%;
  height: 130px;
}

.principal .inspirate2 {
  display: none;
}

.principal .divinput {
  width: 89.06%;
}

.principal .divinput .lupa {
  width: 20px;
  height: 20px;
  position: absolute;
  margin-left: 78%;
  margin-top: 15px;
}

.principal .divinput .equis {
  display: none;
  width: 20px;
  height: 20px;
  position: absolute;
  margin-left: 78%;
  margin-top: 15px;
}

.principal .divinput .equis:hover {
  cursor: pointer;
}

.principal .divinput input {
  width: 100%;
  height: 50px;
  background: #FFFFFF;
  border: 1px solid #572EE5;
  border-radius: 27px;
  border-radius: 27px;
  outline: none;
}

.principal .divinput input::-webkit-input-placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  text-align: center;
}

.principal .divinput input:-ms-input-placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  text-align: center;
}

.principal .divinput input::-ms-input-placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  text-align: center;
}

.principal .divinput input::placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  text-align: center;
}

.principal .divinput input[type="text"] {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #000000;
  text-align: left;
}

.principal .divinput .sugerencias {
  width: auto;
  max-height: 160px;
  overflow: hidden;
  border: 1px solid #572EE5;
  border-radius: 20px;
  display: none;
}

.principal .divinput .sugerencias .cadasugerencia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #000000;
  height: 40px;
}

.principal .divinput .sugerencias .cadasugerencia .lupita {
  width: 15.8px;
  height: 15.8px;
  margin-left: 15px;
  margin-right: 10px;
}

.principal .trendingtitulo {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: #572EE5;
  text-align: center;
  line-height: 25px;
  margin-top: 50px;
}

.principal .trending1 {
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  cursor: pointer;
}

.principal .trending1 .trending12 {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #572EE5;
  text-align: center;
  line-height: 25px;
  margin-left: 8px;
}

.principal .divtitulo {
  width: 100%;
  height: 40px;
  margin-top: 34px;
  margin-bottom: 38px;
}

.principal .divtitulo .titulobusqueda {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  color: #572EE5;
  text-align: center;
  line-height: 40px;
}

.principal .cont-busqueda {
  height: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 156px 156px;
      grid-template-columns: 156px 156px;
  -webkit-column-gap: 2%;
          column-gap: 2%;
  row-gap: 25px;
  overflow: hidden;
  max-height: 845px;
}

.principal .cont-busqueda .contenedor-gif-hover {
  position: relative;
  width: 156px;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.principal .cont-busqueda .contenedor-gif-hover .gifbuscado {
  width: 156px;
  height: 120px;
}

.principal .cont-busqueda .contenedor-gif-hover .hover {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: #572EE5;
}

.principal .cont-busqueda .contenedor-gif-hover .hover .divicons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.principal .cont-busqueda .contenedor-gif-hover .hover .divicons .icon {
  cursor: pointer;
}

.principal .cont-busqueda .contenedor-gif-hover .hover .divicons .iconfavactive {
  cursor: pointer;
  width: 30px;
  height: 30px;
  background: #FFFFFF;
  opacity: 1;
  display: none;
}

.principal .cont-busqueda .contenedor-gif-hover .hover .divicons .iconfav {
  display: none;
}

.principal .cont-busqueda .contenedor-gif-hover .hover .divicons .icondownload {
  display: none;
}

.principal .cont-busqueda .contenedor-gif-hover .hover .divicons .iconmax {
  position: absolute;
  height: 100%;
  width: 100%;
}

.principal .cont-busqueda .contenedor-gif-hover .hover .divicons .iconfav:hover {
  content: url(images/icon-fav-hover.svg);
  cursor: pointer;
}

.principal .cont-busqueda .contenedor-gif-hover .hover .divicons .icondownload:hover {
  content: url(images/icon-download-hover.svg);
  cursor: pointer;
}

.principal .cont-busqueda .contenedor-gif-hover .hover .divicons .iconmax:hover {
  content: url(images/icon-max-hover.svg);
  cursor: pointer;
}

.principal .cont-busqueda .hover:hover {
  opacity: 0;
}

.principal .cont-busqueda .titulogif {
  font-size: 12px;
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
  margin-left: 7px;
}

.principal .botonvermas {
  width: 127px;
  height: 50px;
  border: 1px solid #572EE5;
  border-radius: 25px;
  border-radius: 25px;
  background: none;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  color: #572EE5;
  letter-spacing: 0;
  text-align: center;
  font-weight: bold;
}

.principal .vermassiguientes {
  display: none;
  margin-top: 30px;
  margin-bottom: 50px;
}

.principal #imagensincontenido {
  width: 150px;
  height: 150px;
  margin-bottom: 29px;
  display: none;
}

.principal #textootrabusqueda {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 22px;
  color: #50E3C2;
  text-align: center;
  line-height: 25px;
  margin-bottom: 149px;
  display: none;
}

.favoritos {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 102px;
}

.favoritos .corazonfav {
  margin-top: 5px;
  width: 28px;
  height: 21px;
}

.favoritos .titulofav {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: #572EE5;
  text-align: center;
  line-height: 30px;
  margin-bottom: 46px;
}

.favoritos .imagen-fav-sin-contenido {
  height: 120px;
  width: 120px;
  margin-top: 50px;
  display: none;
}

.favoritos .texto-sin-contenido {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: #50E3C2;
  text-align: center;
  line-height: 33px;
  margin-top: 10px;
  margin-bottom: 90px;
  font-weight: bold;
  display: none;
}

.favoritos .contenidofav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 156px 156px;
      grid-template-columns: 156px 156px;
  -webkit-column-gap: 21px;
          column-gap: 21px;
  row-gap: 25px;
  max-height: 870px;
  overflow: hidden;
}

.favoritos .contenidofav .cont-gifstyle {
  position: relative;
  width: 156px;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.favoritos .contenidofav .cont-gifstyle .gifstylefav {
  height: 120px;
  width: 156px;
}

.favoritos .contenidofav .cont-gifstyle .hover {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: #572EE5;
}

.favoritos .contenidofav .cont-gifstyle .hover .divicons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.favoritos .contenidofav .cont-gifstyle .hover .divicons .icon {
  cursor: pointer;
}

.favoritos .contenidofav .cont-gifstyle .hover .divicons .iconfavactive {
  cursor: pointer;
  width: 30px;
  height: 30px;
  background: #FFFFFF;
  opacity: 1;
  display: none;
}

.favoritos .contenidofav .cont-gifstyle .hover .divicons .iconfav {
  display: none;
}

.favoritos .contenidofav .cont-gifstyle .hover .divicons .icondownload {
  display: none;
}

.favoritos .contenidofav .cont-gifstyle .hover .divicons .iconmax {
  position: absolute;
  height: 100%;
  width: 100%;
}

.favoritos .contenidofav .cont-gifstyle .hover .divicons .iconeliminar:hover {
  content: url(images/icon-trash-hover.svg);
  cursor: pointer;
}

.favoritos .contenidofav .cont-gifstyle .hover .divicons .iconfav:hover {
  content: url(images/icon-fav-hover.svg);
  cursor: pointer;
}

.favoritos .contenidofav .cont-gifstyle .hover .divicons .icondownload:hover {
  content: url(images/icon-download-hover.svg);
  cursor: pointer;
}

.favoritos .contenidofav .cont-gifstyle .hover .divicons .iconmax:hover {
  content: url(images/icon-max-hover.svg);
  cursor: pointer;
}

.favoritos .contenidofav .hover:hover {
  opacity: 0;
}

.favoritos .contenidofav .titulogif {
  font-size: 12px;
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
  margin-left: 7px;
}

.favoritos .vermas {
  background: none;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  width: 127px;
  height: 50px;
  margin-bottom: 78px;
  margin-top: 78px;
  border: 1px solid #572EE5;
  border-radius: 25px;
  font-size: 13px;
  color: #572EE5;
  letter-spacing: 0;
  text-align: center;
  display: none;
}

.favoritos .mis_gifos {
  width: 100%;
  height: 435px;
}

.creargifogris {
  content: url(images/CTA-crear-gifo-active.svg);
}

.crear_gifos {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 99px;
}

.crear_gifos .camara {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 214px;
  margin-bottom: 230px;
}

.crear_gifos .camara .camara1 {
  width: 123px;
  height: auto;
}

.crear_gifos .camara .luzcamara {
  width: 91px;
  height: 151px;
  background-image: linear-gradient(267deg, rgba(136, 243, 226, 0) 10%, #50E3C2 100%);
  -webkit-clip-path: polygon(0 40%, 100% 0, 100% 100%, 0 60%);
          clip-path: polygon(0 40%, 100% 0, 100% 100%, 0 60%);
}

.crear_gifos .centrado {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 24px;
  width: 47.77%;
}

.crear_gifos .centrado .nuevo_gifo {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 0.2777%;
  width: 100%;
  height: 390px;
  border: 1px solid #572EE5;
}

.crear_gifos .centrado .nuevo_gifo .subiendo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  height: 100%;
  width: 100%;
  background: #572EE5;
  opacity: 0.7;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.crear_gifos .centrado .nuevo_gifo .subiendo .cargando {
  height: 25px;
}

.crear_gifos .centrado .nuevo_gifo .subiendo .texto {
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: #FFFFFF;
  text-align: center;
}

.crear_gifos .centrado .nuevo_gifo .gifsubido .iconoscrear {
  position: absolute;
  margin-left: 500px;
  margin-bottom: 300px;
}

.crear_gifos .centrado .nuevo_gifo .gifsubido .iconoscrear .icon-download-crear {
  height: 40px;
  margin-right: 5px;
}

.crear_gifos .centrado .nuevo_gifo .gifsubido .iconoscrear .icon-download-crear:hover {
  content: url(images/icon-download-hover.svg);
  cursor: pointer;
}

.crear_gifos .centrado .nuevo_gifo .gifsubido .iconoscrear .icon-link {
  height: 40px;
}

.crear_gifos .centrado .nuevo_gifo .gifsubido .iconoscrear .icon-link:hover {
  content: url(images/icon-link-hover.svg);
  cursor: pointer;
}

.crear_gifos .centrado .nuevo_gifo .primerpaso {
  display: none;
}

.crear_gifos .centrado .nuevo_gifo .video {
  height: 80%;
  width: 80%;
}

.crear_gifos .centrado .nuevo_gifo .textoinicial {
  text-align: center;
}

.crear_gifos .centrado .nuevo_gifo .textoinicial .violeta {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 25px;
  color: #572EE5;
  text-align: center;
  line-height: 35px;
}

.crear_gifos .centrado .nuevo_gifo .textoinicial .violeta .celeste {
  color: #50E3C2;
}

.crear_gifos .centrado .nuevo_gifo .textoinicial .negro {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #000000;
  text-align: center;
  line-height: 29px;
}

.crear_gifos .centrado .pasos {
  position: relative;
  width: 146px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 24px;
}

.crear_gifos .centrado .pasos .repetir:hover {
  cursor: pointer;
}

.crear_gifos .centrado .pasos .contador {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #572EE5;
  font-size: 16px;
  margin-left: 250px;
  width: 200px;
  height: 30px;
  text-align: center;
}

.crear_gifos .centrado .linea {
  width: 795.9px;
  height: 0.01px;
  border: 4px solid #572EE5;
  margin-top: 25px;
}

.crear_gifos .centrado .comenzar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: none;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  width: 127px;
  height: 50px;
  margin-bottom: 78px;
  margin-top: 20px;
  border: 1px solid #572EE5;
  border-radius: 25px;
  font-size: 13px;
  color: #572EE5;
  letter-spacing: 0;
  text-align: center;
  cursor: pointer;
}

.crear_gifos .pelicula {
  margin-top: 200px;
  margin-left: 50px;
}

.trending-gifos-max {
  display: none;
}

.trending-gifos {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F3F5F8;
  margin-top: 20px;
}

.trending-gifos h1 {
  margin-top: 46px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: #572EE5;
  text-align: center;
  line-height: 30px;
}

.trending-gifos h2 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #000000;
  text-align: center;
  line-height: 23px;
  margin-bottom: 32px;
}

.trending-gifos .titulo2 {
  display: none;
}

.trending-gifos .contenedorgaleria {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.trending-gifos .contenedorgaleria .flecharight {
  display: none;
}

.trending-gifos .contenedorgaleria .flechaleft {
  display: none;
}

.trending-gifos .contenedorgaleria .galeria {
  height: 187px;
  width: 100%;
  margin-bottom: 82px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
}

.trending-gifos .contenedorgaleria .galeria .cont-gifstyle {
  position: relative;
  margin-left: 22px;
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.trending-gifos .contenedorgaleria .galeria .cont-gifstyle .gifstyle {
  height: 187px;
  width: auto;
}

.trending-gifos .contenedorgaleria .galeria .cont-gifstyle .hover {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: #572EE5;
}

.trending-gifos .contenedorgaleria .galeria .cont-gifstyle .hover .divicons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.trending-gifos .contenedorgaleria .galeria .cont-gifstyle .hover .divicons .icon {
  cursor: pointer;
}

.trending-gifos .contenedorgaleria .galeria .cont-gifstyle .hover .divicons .iconfavactive {
  cursor: pointer;
  width: 30px;
  height: 30px;
  background: #FFFFFF;
  opacity: 1;
  display: none;
}

.trending-gifos .contenedorgaleria .galeria .cont-gifstyle .hover .divicons .iconfav {
  display: none;
}

.trending-gifos .contenedorgaleria .galeria .cont-gifstyle .hover .divicons .icondownload {
  display: none;
}

.trending-gifos .contenedorgaleria .galeria .cont-gifstyle .hover .divicons .iconmax {
  position: absolute;
  height: 100%;
  width: 100%;
}

.trending-gifos .contenedorgaleria .galeria .cont-gifstyle .hover .divicons .iconfav:hover {
  content: url(images/icon-fav-hover.svg);
  cursor: pointer;
}

.trending-gifos .contenedorgaleria .galeria .cont-gifstyle .hover .divicons .icondownload:hover {
  content: url(images/icon-download-hover.svg);
  cursor: pointer;
}

.trending-gifos .contenedorgaleria .galeria .cont-gifstyle .hover .divicons .iconmax:hover {
  content: url(images/icon-max-hover.svg);
  cursor: pointer;
}

.trending-gifos .contenedorgaleria .galeria .hover:hover {
  opacity: 0;
}

.trending-gifos .contenedorgaleria .galeria .titulogif {
  font-size: 16px;
  margin-top: 75px;
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
  margin-left: 7px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .compartiren {
  font-family: "Roboto", sans-serif;
  margin-top: 47px;
  font-size: 15px;
  color: #000000;
  letter-spacing: 0;
}

footer .iconosredes {
  width: 92px;
  margin-top: 24px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .iconosredes a {
  color: gray;
}

footer .iconosredes .iconfacebook:hover {
  content: url(images/icon_facebook_hover.svg);
}

footer .iconosredes .icontwitter:hover {
  content: url(images/icon-twitter-hover.svg);
}

footer .iconosredes .iconinstagram:hover {
  content: url(images/icon_instagram-hover.svg);
}

footer .derechos {
  margin-top: 47px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #000000;
  letter-spacing: 0;
  line-height: 20px;
  margin-bottom: 23px;
}

@media only screen and (min-width: 730px) {
  header {
    width: 100%;
    position: fixed;
    height: 90px;
  }
  header .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
  }
  header .menu .contenedor1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: auto;
    height: 100%;
    margin-left: 10.83%;
  }
  header .menu .contenedor1 img {
    width: 59.1px;
    height: 59.1px;
    margin-left: 0px;
  }
  header .menu .contenedor1 .burger {
    display: none;
  }
  header .menu ul {
    position: relative;
    width: 60%;
    height: 100%;
    background: none;
    margin-top: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  header .menu ul .raya {
    display: none;
  }
  header .menu ul .primerli {
    margin-top: 0px;
  }
  header .menu ul #mododiur {
    display: none;
  }
  header .menu ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: auto;
    height: 100%;
    margin-left: 50px;
  }
  header .menu ul li button {
    width: 100%;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    color: #572EE5;
    text-align: center;
    line-height: 60px;
    border: none;
    cursor: pointer;
  }
  header .menu ul li a {
    width: 100%;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    color: #572EE5;
    font-size: 13px;
    color: #572EE5;
    letter-spacing: 0;
    text-align: center;
    height: auto;
  }
  header .menu .creargifo {
    display: block;
    margin-right: 10.83%;
    height: 54px;
    width: 54px;
  }
  .principal {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 171px;
  }
  .principal .inspirate {
    display: none;
  }
  .principal .inspirate2 {
    display: block;
    margin-bottom: 24px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 35px;
    color: #572EE5;
    text-align: center;
    line-height: 50px;
  }
  .principal .inspirate2 span {
    color: #5dc1b9;
  }
  .principal img {
    width: 399px;
    height: 190px;
  }
  .principal .divinput {
    width: 551px;
  }
  .principal .divinput .lupa {
    width: 20px;
    height: 20px;
    position: absolute;
    margin-left: 490px;
    margin-top: 15px;
  }
  .principal .divinput .equis {
    display: none;
    width: 20px;
    height: 20px;
    position: absolute;
    margin-left: 490px;
    margin-top: 15px;
  }
  .principal .divinput input {
    width: 551px;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #572EE5;
    border-radius: 27px;
    border-radius: 27px;
  }
  .principal .divinput input::-webkit-input-placeholder {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    text-align: center;
  }
  .principal .divinput input:-ms-input-placeholder {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    text-align: center;
  }
  .principal .divinput input::-ms-input-placeholder {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    text-align: center;
  }
  .principal .divinput input::placeholder {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    text-align: center;
  }
  .principal .divinput input[type="text"] {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: #000000;
    text-align: left;
  }
  .principal .cont-busqueda {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 260px 260px 260px 260px;
        grid-template-columns: 260px 260px 260px 260px;
    -webkit-column-gap: 28px;
            column-gap: 28px;
    row-gap: 28px;
    max-height: 684px;
    overflow: hidden;
  }
  .principal .cont-busqueda .contenedor-gif-hover {
    position: relative;
    width: 260px;
    height: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .principal .cont-busqueda .contenedor-gif-hover .gifbuscado {
    width: 260px;
    height: 200px;
  }
  .principal .cont-busqueda .contenedor-gif-hover .hover {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: #572EE5;
    display: block;
  }
  .principal .cont-busqueda .contenedor-gif-hover .hover .divicons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    width: auto;
    margin-left: 30%;
    margin-top: 5px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .principal .cont-busqueda .contenedor-gif-hover .hover .divicons .icon {
    width: 30px;
    height: 30px;
    margin-left: 7px;
    cursor: pointer;
  }
  .principal .cont-busqueda .contenedor-gif-hover .hover .divicons .iconfavactive {
    cursor: pointer;
    width: 30px;
    height: 30px;
    background: #FFFFFF;
    opacity: 1;
    display: none;
  }
  .principal .cont-busqueda .contenedor-gif-hover .hover .divicons .iconfav {
    display: block;
  }
  .principal .cont-busqueda .contenedor-gif-hover .hover .divicons .icondownload {
    display: block;
  }
  .principal .cont-busqueda .contenedor-gif-hover .hover .divicons .iconmax {
    position: relative;
    height: 30px;
    width: 30px;
  }
  .principal .cont-busqueda .contenedor-gif-hover .hover .divicons .iconfav:hover {
    content: url(images/icon-fav-hover.svg);
    cursor: pointer;
  }
  .principal .cont-busqueda .contenedor-gif-hover .hover .divicons .icondownload:hover {
    content: url(images/icon-download-hover.svg);
    cursor: pointer;
  }
  .principal .cont-busqueda .contenedor-gif-hover .hover .divicons .iconmax:hover {
    content: url(images/icon-max-hover.svg);
    cursor: pointer;
  }
  .principal .cont-busqueda .hover:hover {
    opacity: 0.7;
  }
  .principal .cont-busqueda .titulogif {
    font-size: 20px;
    margin-top: 20px;
    font-family: "Roboto", sans-serif;
    color: #FFFFFF;
    margin-left: 7px;
  }
  .principal .divtitulo .titulobusqueda {
    font-size: 35px;
  }
  .favoritos .imagen-fav-sin-contenido {
    height: 150px;
    width: 150px;
    margin-top: 100px;
  }
  .favoritos .texto-sin-contenido {
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    color: #50E3C2;
    text-align: center;
    line-height: 33px;
    margin-top: 20px;
    margin-bottom: 130px;
    font-weight: bold;
  }
  .favoritos .contenidofav {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 260px 260px 260px 260px;
        grid-template-columns: 260px 260px 260px 260px;
    max-height: 656px;
    overflow: hidden;
    -webkit-column-gap: 28px;
            column-gap: 28px;
    row-gap: 28px;
  }
  .favoritos .contenidofav .cont-gifstyle {
    position: relative;
    width: 260px;
    height: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .favoritos .contenidofav .cont-gifstyle .gifstylefav {
    width: 260px;
    height: 200px;
  }
  .favoritos .contenidofav .cont-gifstyle .hover {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: #572EE5;
    display: block;
  }
  .favoritos .contenidofav .cont-gifstyle .hover .divicons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    width: auto;
    margin-left: 30%;
    margin-top: 5px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .favoritos .contenidofav .cont-gifstyle .hover .divicons .icon {
    width: 30px;
    height: 30px;
    margin-left: 7px;
    cursor: pointer;
  }
  .favoritos .contenidofav .cont-gifstyle .hover .divicons .iconfavactive {
    cursor: pointer;
    width: 30px;
    height: 30px;
    background: #FFFFFF;
    opacity: 1;
    display: block;
  }
  .favoritos .contenidofav .cont-gifstyle .hover .divicons .iconfav {
    display: block;
  }
  .favoritos .contenidofav .cont-gifstyle .hover .divicons .icondownload {
    display: block;
  }
  .favoritos .contenidofav .cont-gifstyle .hover .divicons .iconmax {
    position: relative;
    height: 30px;
    width: 30px;
  }
  .favoritos .contenidofav .cont-gifstyle .hover .divicons .iconfav:hover {
    content: url(images/icon-fav-hover.svg);
    cursor: pointer;
  }
  .favoritos .contenidofav .cont-gifstyle .hover .divicons .icondownload:hover {
    content: url(images/icon-download-hover.svg);
    cursor: pointer;
  }
  .favoritos .contenidofav .cont-gifstyle .hover .divicons .iconmax:hover {
    content: url(images/icon-max-hover.svg);
    cursor: pointer;
  }
  .favoritos .contenidofav .cont-gifstyle .hover:hover {
    opacity: 0.7;
  }
  .trending-gifos {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #F3F5F8;
    height: 640px;
  }
  .trending-gifos h1 {
    margin-top: 67px;
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    color: #572EE5;
    text-align: center;
    line-height: 30px;
    margin-bottom: 12px;
  }
  .trending-gifos .titulo2 {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 18px;
    color: #000000;
    text-align: center;
    line-height: 23px;
    margin-bottom: 53px;
    display: block;
  }
  .trending-gifos .titulo1 {
    display: none;
  }
  .trending-gifos .contenedorgaleria {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin-bottom: 182px;
  }
  .trending-gifos .contenedorgaleria .flecharight {
    display: block;
    width: 40px;
    height: 40px;
    margin-right: 6.52%;
    margin-left: 22px;
  }
  .trending-gifos .contenedorgaleria .flechaleft {
    display: block;
    width: 40px;
    height: 40px;
    margin-left: 6.52%;
    margin-right: 22px;
  }
  .trending-gifos .contenedorgaleria .galeria {
    height: 275px;
    width: 78.26%;
    margin-bottom: 0px;
    overflow-x: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-y: hidden;
  }
  .trending-gifos .contenedorgaleria .galeria .cont-gifstyle {
    position: relative;
    margin-left: 22px;
    width: auto;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .trending-gifos .contenedorgaleria .galeria .cont-gifstyle .gifstyle {
    height: 275px;
    width: auto;
  }
  .trending-gifos .contenedorgaleria .galeria .cont-gifstyle .hover {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: #572EE5;
    display: block;
  }
  .trending-gifos .contenedorgaleria .galeria .cont-gifstyle .hover .divicons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    width: auto;
    margin-left: 30%;
    margin-top: 5px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .trending-gifos .contenedorgaleria .galeria .cont-gifstyle .hover .divicons .icon {
    width: 30px;
    height: 30px;
    margin-left: 7px;
    cursor: pointer;
  }
  .trending-gifos .contenedorgaleria .galeria .cont-gifstyle .hover .divicons .iconfavactive {
    cursor: pointer;
    width: 30px;
    height: 30px;
    background: #FFFFFF;
    opacity: 1;
    display: none;
  }
  .trending-gifos .contenedorgaleria .galeria .cont-gifstyle .hover .divicons .iconfav {
    display: block;
  }
  .trending-gifos .contenedorgaleria .galeria .cont-gifstyle .hover .divicons .icondownload {
    display: block;
  }
  .trending-gifos .contenedorgaleria .galeria .cont-gifstyle .hover .divicons .iconmax {
    position: relative;
    height: 30px;
    width: 30px;
  }
  .trending-gifos .contenedorgaleria .galeria .hover:hover {
    opacity: 0.7;
  }
  .trending-gifos .contenedorgaleria .galeria .titulogif {
    font-size: 18px;
    margin-top: 128px;
    font-family: "Roboto", sans-serif;
    color: #FFFFFF;
    margin-left: 7px;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 116px;
    width: 100%;
  }
  footer .compartiren {
    font-family: "Roboto", sans-serif;
    margin-top: 0px;
    font-size: 13px;
    color: #000000;
    letter-spacing: 0;
    margin-left: 10.83%;
    text-align: center;
  }
  footer .iconosredes {
    width: 92px;
    margin-top: 0px;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 17px;
  }
  footer .iconosredes a {
    color: gray;
  }
  footer .derechos {
    margin-top: 0px;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    color: #000000;
    letter-spacing: 0;
    line-height: 20px;
    margin-bottom: 0px;
    margin-left: 50%;
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */